---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const isProd = import.meta.env.PROD

const posts = (await getCollection('ua')).filter((post) => isProd ? post.data.published : true).sort(
	(left, right) => right.data.pubDate.valueOf() - left.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<section class="py-8">
				<ul class="flex flex-col gap-8">
					{
						posts.map((post) => (
							<li>
								<a href={`/ua/${post.slug}/`} class="text-black flex flex-col gap-2">
									<h4 class="text-2xl">{post.data.title}</h4>

									<div>
										<p>
											<FormattedDate date={post.data.pubDate} />
										</p>

										<p>{post.data.description}...</p>
									</div>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
